<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Swierstra's Blog</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <a class="jumptop" id="TOP"></a>
    <div class="head">
      <a href="#TOP">Swierstra's Blog</a>
    </div>
    <div class="grid_Layout">
      <article>
        <div class="ImageTitle">
          <div class="IT"><img src="images/HeadShot.png"></div>
          <div class="IT">
            <h1>Welcome to  Swierstra's blog</h1>
          </div>
        </div>
        <hr>
        <ul class="blogs">
          {% for txt in data%}
            <ul class="blogs">
              {{txt.blog_id}} - {{txt.blog_txt}}
            </ul>
          {% endfor%}
        </ul>
        <hr>
        <h2>Add a blog here</h2>
        <form action="/add" method="POST">
          <div>
            <label for="blog">What is your blog txt?</label>
            <input name="blog" id="blog" value="ENTER BLOG TEXT HERE!"/>
          </div>
          <div>
            <button>Enter new blog entry</button>
          </div>
        </form>
        <hr>
        <h2>Delete blog here</h2>
        <form action="/delete" method="POST">
          <div>
            <label for="blog">Blog to delete?</label>
            <input name="blog" id="blog" value="Enter blogs number here"/>
          </div>
          <div>
            <button>Delete blog entry</button>
          </div>
        </form>
      </article>
      <div class="side_right">
        <div class="stext_right">
          <p class="sideHead">Navigation of this Page</p>
          <ul class="right_list">
            <li>
              <a href="#TOP">Top of this Page</a>
            </li>
            <ul class="listBlogs">
              <li>
                <a href="#BLOGS_HERE">Blogs will be listed here</a>
              </li>
              <li>
                {{txt.blog_id}} - {{txt.blog_txt}}
              </li>
            </ul>
            <li>
              <a href="#ADD">Add a blog</a>
            </li>
            <li>
              <a href="#DELETE">Add a blog</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>